<template>
  <div class="hello">
    <h3 v-show="winner === undefined">{{ prettyPlayer(currPlayer) }} to play</h3>
    <h3 v-show="winner !== undefined">{{ prettyPlayer(winner) || 'Nobody' }} won!</h3>
    <table :class="{ active: !winner }">
      <tbody>
        <tr v-for="(row, i) in board" :key="i">
          <td
            v-for="(val, j) in row"
            :key="j"
            :class="{ vacant: !val }"
            @click="attemptMove(i, j, val)"
          >{{ prettyPlayer(val) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import { Player } from '../models/types';

@Component
export default class TicTacToe extends Vue {
  currPlayer: Player = Player.X;

  prettyPlayer(val: Player) {
    return val ? Player[val] : '';
  }

  get board() {
    return this.$store.state.game.board;
  }

  get winner() {
    return this.$store.state.game.winner;
  }

  attemptMove(row: number, col: number, currVal: Player) {
    if (currVal !== null || this.winner) {
      return;
    }

    try {
      this.$store.commit('makeMove', {
        location: { row, col },
        player: this.currPlayer,
      });
      this.currPlayer *= -1;
    } catch (e) {
      console.error(e);
    }
  }
}
</script>

<style scoped>
table {
  margin: auto;
}

td {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: #eee;
}

table.active td.vacant {
  cursor: pointer;
}

table.active td.vacant:hover {
  background-color: #fff;
}
</style>
