<template>
  <div id="app">
    <h1>Tic-Tac-Toe</h1>
    <TicTacToe></TicTacToe>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TicTacToe from './components/TicTacToe.vue';

@Component({
  components: {
    TicTacToe,
  },
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
